@model IEnumerable<PhieuNhapHangNhaCungCap>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Coza Store - Cửa hàng bán quần áo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div style="background-color:cadetblue;text-align:center">
            <h2 style="color:azure; padding:5%">
                TẤT CẢ PHIẾU NHẬP HÀNG
            </h2>
        </div>
        <table class="table" style="text-align:left">
            <tr>
                <th>Tên cửa hàng:</th>
                <td>Coza Store</td>
            </tr>
             <tr>
                <th>Địa chỉ:</th>
                <td>65/68/175, Ung Văn Khiêm, quận Bình Thạnh, TP-HCM</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>cozastore@gmail.com</td>
            </tr>
            <tr>
                <th>Thông tin shop:</th>
                <td>Kinh doanh các mặt hàng thời trang chính như là các sản phẩm quần áo</td>
            </tr>
        </table>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Số chứng từ</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Tổng tiền shop đã giao dịch</th>
                <th scope="col">Người lập phiếu</th>
                <th scope="col">Tên nhà cung cấp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ph in Model)
            {
                <tr>
                    <th scope="row">@ph.Id</th>
                    <td>@ph.SoChungTu</td>
                    <td>@ph.GhiChu</td>
                    <td>@ph.NgayTao</td>
                    <td>@ph.TongTien</td>
                    <td>@ph.NguoiLapPhieu</td>
                    <td>@ph.TenNhaCungCap</td>
                </tr>
            }
        </tbody>
    </table>
    <h5>Ngày xuất file: @DateTime.Now</h5>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>